body{
    background-color: #272727;
    margin: 0px;
    padding: 0px;
}

aside{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #696969;
    padding: 5px;
}

#grand_ecran{
    display: grid;
    grid-template-columns: 150px auto;
    min-height: 100dvh;
}

