body{
    background-color: #272727;
    margin: 0px;
    padding: 0px;
}

aside{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #696969;
    padding: 5px;
}

#grand_ecran{
    display: grid;
    grid-template-columns: 150px auto;
    min-height: 100dvh;
}

.miam_miam{
    position: absolute;
    transform: translateY(-50%);
    transition: all linear;
    transition-duration: 2s ;
    z-index: 2;
}

.miam_miam:hover{
    transform: scale(2);
}

#poisson_move {
    animation: gauche_droite 5s linear infinite;
}

@keyframes gauche_droite {
    0% {transform: rotateY(180);}
    50% {transform: translateX(500px);}
}